{#
# This file is part of Zenodo.
# Copyright (C) 2015, 2016 CERN.
#
# Zenodo is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Zenodo is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Zenodo; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.
-#}
<footer class="footer">
  <div class="menu-wrapper">
    <div class="container">
      <div class="row footer-menu">
        <div class="col-xs-12 col-md-8">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <h5>{{_('About')}}</h5>
              <ul class="list-unstyled">
                <li><a href="/help/about">{{_('About')}}</a></li>
                <li><a href="/help/policies">{{_('Policies')}}</a></li>
                <li><a href="/help/contact">{{_('Contact')}}</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col-md-3">
              <h5>{{_('Developers')}}</h5>
              <ul class="list-unstyled">
              <li><a href="http://developers.zenodo.org">{{_('Zenodo REST API')}}</a></li>
              <li><a href="http://developers.zenodo.org#oai-pmh">{{_('Zenodo OAI-PMH')}}</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col-md-3">
              <h5>{{_('Contribute')}}</h5>
              <ul class="list-unstyled">
                <li><a href="http://github.com/feysalmama/zenodo"><i class="fa fa-external-link"></i> {{_('GitHub')}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="pull-right-md text-center-sm text-center-xs">
            <h5>{{_('Service Provider of')}}</h5>
            <ul class="list-inline">
              <li><a href="https://gridp.garr.it"><img src="{{ url_for('static', filename='img/gridp.png') }}" /></a></li>
             <!-- <li><a href="https://edugain.org"><img src="{{ url_for('static', filename='img/edugain.png') }}" /></a></li>
              <li><a href="https://www.idem.garr.it"><img src="{{ url_for('static', filename='img/idem.png') }}" /></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="pull-right-sm text-center-xs">
          <ul class="list-inline">
            <li><a href="/help/terms-of-use">{{_('Terms of use')}}</a></li>
            <li><a href="/help/privacy-policy">{{_('Privacy policy')}}</a></li>
            <li><a href="/help/metadata-policy">{{_('Metadata policy')}}</a></li>
            <li><a href="{{ url_for('zenodo_support.support')}}">{{_('Support')}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center-xs">
        <p>Powered by <a href="http://inveniosoftware.org">Invenio</a> &amp; <a href="http://zenodo.org">Zenodo</a></p>
      </div>
    </div>
  </div>
</footer>
