// This file is part of Zenodo.
// Copyright (C) 2015 CERN.
//
// Zenodo is free software; you can redistribute it
// and/or modify it under the terms of the GNU General Public License as
// published by the Free Software Foundation; either version 2 of the
// License, or (at your option) any later version.
//
// Zenodo is distributed in the hope that it will be
// useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Zenodo; if not, write to the
// Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
// MA 02111-1307, USA.
//
// In applying this license, CERN does not
// waive the privileges and immunities granted to it by virtue of its status
// as an Intergovernmental Organization or submit itself to any jurisdiction.

.fixed {
    position: relative;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    /* all links */
    .nav>li>a {
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
    }

    /* nested links */
    .nav .nav>li>a {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 30px;
        font-size: 12px;
    }
    /* active & hover links */
    .nav>.active>a,
    .nav>li>a:hover,
    .nav>li>a:focus {
        color: #563d7c;
        text-decoration: none;
        background-color: transparent;
        border-left-color: #563d7c;
    }
    /* all active links */
    .nav>.active>a,
    .nav>.active:hover>a,
    .nav>.active:focus>a {
        font-weight: 700;
    }
    /* nested active links */
    .nav .nav>.active>a,
    .nav .nav>.active:hover>a,
    .nav .nav>.active:focus>a {
        font-weight: 500;
    }
    /* hide inactive nested list */
    .nav ul.nav {
        display: none;
    }
    /* show active nested list */
    .bs-docs-sidebar .nav>.active>ul.nav {
        display: block;
    }
}
